# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# .NET
bin/
obj/
*.user
*.suo

# Node / Angular
node_modules/
dist/
.angular/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
